/*
.class
#id
element
*/
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pixel {
    width: 5px;
    height: 5px;
    margin: 0;
    padding: 0;
    background-color: rgb(125, 125, 125);
}

.inputContainer {
    display: flex;
    flex-direction: row;

    width: max-content;

    padding-top: 0.1vh;
    padding-bottom: 0.1vh;
    padding-left: 0.1vw;
    padding-right: 0.1vw;

    margin-top: 0.1vh;
    margin-bottom: 0.1vh;
    margin-left: 0.1vw;
    margin-right: 0.1vw;

    font-size: medium;
}

#headerInput {
    display: flex;
    flex-direction: row;
}

#tableContainer {
    width: max-content;
    height: max-content;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 99vh;
    width: 99vw;
    margin-top: 0px;
    margin-left: 0px;
}

table {
    border-collapse: collapse;
}










